@import "common.css";

body{
  color: #666666;
}
body.dark-theme{
  color:white;
}

.wrapper{
  background-color: white;
}
.wrapperDark{
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 40px;
  background-color: #171717;
}

/*SCREENSHOTS GALLERRY*/
div.gallery {
  border: 1px solid white;
}

div.gallery:hover {
    box-shadow: 0px 0.5px 5px 0.2px black;
    transition: box-shadow 0.2s;
}

.cap {
  background-color: #fff;
}

#download-button-home{
  color: azure;
}

#box1 {
  width: auto;
  height: auto;
  padding: 15px;
  word-wrap: normal;
  overflow: auto;
  white-space: nowrap;
  -webkit-box-shadow: 0px 4px 7px 0px #ccc;
  -moz-box-shadow: 0px 4px 7px 0px #ccc;
  box-shadow: 0px 4px 7px 0px #ccc;
  border: 2px solid #e9e9ea!important;
  background: #ffffff;
  border-radius: 15px;
}
